.Footer{
    position: absolute;
    bottom: 0; 
    width: 100%;
    text-align: center;
    background-color: #2f2c3d;
    a{
        all: unset;
    }
    i{
        font-size: 32px;
        margin: 5px;
        color: #ffffff;
    }
}